<!-- static/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock analysis</title>
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <h1>Stock analysis</h1>
    <form action="/basic_plots" method="get">
        <label for="ticker_query">Enter Stock Ticker:</label>
        <input type="text" name="ticker_query" id="ticker_query" required>

        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date" id="start_date" required>

        <label for="end_date">End Date:</label>
        <input type="date" name="end_date" id="end_date" required>

        <button type="submit">Analyze</button>
    </form>
</body>
</html>
